<div class="main-layout d-flex h-100">
  <!-- Icon Sidebar -->
 <div class="sidebar-container position-fixed z-3 d-flex flex-column pt-4"
     [class.expanded]="sidebarExpanded">

  <i class="bi bi-layout-sidebar-inset text-white my-2"
     role="button"
     (click)="toggleSidebarExpansion()"></i>

  <ng-container *ngFor="let panel of sidebarPanels; let i = index">
  <div class="d-flex align-items-center icon-btn my-2 flex-column"
       [class.active]="selectedIndex === i"
        [attr.data-bs-toggle]="'tooltip'"
 [attr.title]="panel.title"
       (click)="toggleSidebar(i)">
    <i class="{{ panel.icon }}"></i>
    <p *ngIf="sidebarExpanded" class="text-white">{{ panel.title }}</p>
  </div>
</ng-container>

</div>

 
  <!-- Slide-out Sidebar -->
  <div class="sidebar-open position-fixed z-2" 
        [class.shifted]="sidebarExpanded"
       [class.show]="showSidebar"
       *ngIf="showSidebar">
    <div class="sidebar-header">
      <h4>Dashboard</h4>
    </div>
     
    <div class="sidebar-content">
      <div class="drop" (mousedown)="closeSidebar()">
  <i class="bi bi-chevron-bar-right text-white"></i>
</div>

    
      <div *ngFor="let section of sidebarPanels[selectedIndex].sections" 
           class="section-item mb-3">
        <div class="section-header"
             [class.expanded]="section.expanded"
             (click)="toggleSection(section)">
          <span class="section-title">{{ section.name }}</span>
          <i class="bi section-chevron"
             [ngClass]="section.expanded ? 'bi-chevron-down rotated' : (section.subItems ? 'bi-chevron-right' : '')">
          </i>
        </div>
         
        <div class="sub-items" 
             [class.expanded]="section.expanded && section.subItems"
             *ngIf="section.subItems">
         <div *ngFor="let sub of section.subItems" 
     class="sub-item"
     (click)="selectSubItem(sub)"  
     [routerLink]="sub.route"
     routerLinkActive="active"
     >
   
  {{ sub.name }}
</div>

        </div>
      </div>
    </div>
  </div>
 

 
</div>